/* @import url("https://www.fontspace.com/category/spooky"); */

/* @font-face {
    font-family: 'spooky';
    src: url("/font/SpookyLight.ttf");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'spooky';  */
    font-family: arial;

}

/* body{
    background-image: url('/img/bg.jpg');
    background-size: cover;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

} */
body {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding-top: 65px ;
    /* margin-bottom: auto; */
}

.contents {
    width: 100%;
    /* height: 100%; */
    margin-top: 5vh;
    padding-bottom: 5vh;
    /* display: inline-block; */
    padding-left: 1%;
    padding-right: 1%;
    /* background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px; */
}

.textarea {
    width: 45%;
    margin-left: 0;
    margin-right: auto;
    color: black;
    text-align: justify;
    text-indent: 5%;
    float: left;
    border: transparent;
    background-color: rgba(40, 50, 194, 0.9);
    padding: 10px 10px;
    border-radius: 30px;
}

.intro {
    width: 45%;
    margin-left: auto;
    margin-right: 0;
    color: black;
    float: right;
    background-color: rgba(40, 50, 194, 0.9);
    border-radius: 30px;
    /* text-align: justify; */
    padding: 10px 10px;
}

.greeting h1 {
    text-align: center;
    font-size: 5vh;
    color: #28c2b8;
}

.greeting h1 i {
    text-align: center;
    font-size: 5vh;
    padding-top: 10px;
}

.greeting h3 {
    font-size: 2vh;
    text-align: center;
    padding-top: 10px;
}

.greeting h3 i {
    font-size: 2vh;
    text-align: center;
    padding-top: 10px;
}

.mainpgbtns {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.mainpgbtns ul {
    height: auto;
    /* padding: 10px 10px; */
    box-sizing: border-box;
}

.mainpgbtns li {
    height: auto;
    width: 100%;
    list-style: none;
    display: inline;
    margin: 0 20px;
    padding: 20px 10px;
    background-color: #7028c2;
    border: 1px solid black;
    border-radius: 5px;

}

.mainpgbtns li a {
    font-size: 1.7vw;
    color: #28c2b8;
    text-decoration: none;
    height: 100%;

}




/*-- Responsive CSS --*/
@media screen and (max-width:882px) {
    body{
       padding-top: 80px;
    }
    
    .contents {
        width: 100%;
        max-height: auto;
        margin-top: 5vh;
        padding-bottom: 5vh;
        /* display: inline-block; */
        /* margin: auto; */
        display: block;

    }

    .intro {
        width: 90%;
        height: auto;
        color: black;
        background-color: rgba(40, 50, 194, 0.9);
        border-radius: 30px;
        /* text-align: justify; */
        margin-bottom: 10%;

        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .textarea {
        width: 90%;
        color: black;
        /* text-align: justify; */
        text-indent: 5%;
        background-color: rgba(40, 50, 194, 0.9);
        padding: 10px 10px;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }



    .greeting h1 {
        text-align: center;
        font-size: 6vh;
        padding-top: 10px;
        color: #28c2b8;
    }

    .greeting h1 i {
        text-align: center;
        font-size: 6vh;
        padding-top: 10px;
    }

    .greeting h3 {
        font-size: 2.5vh;
        text-align: center;
        padding-top: 10px;
    }

    .greeting h3 i {
        font-size: 2.5vh;
        text-align: center;
        padding-top: 10px;
    }

    .mainpgbtns {
        width: 100%;
        height: auto;
        padding: 15px 0;
    }

    .mainpgbtns li {
        list-style: none;
        width: 100%;
        display: inline;
        padding: 10px 10px;
        margin: 0 10px 0 0;
        background-color: #7028c2;
        border: 1px solid black;
        border-radius: 5%;
        text-align: center;
    }

    .mainpgbtns li a {
        font-size: 3vw;
        color: #28c2b8;
        text-decoration: none;


    }
}